<header>
  <table>
    <tbody>
      <tr>
        <td class="left-col">
          <img src="{{ organization.logo }}" />
        </td>
        <td class="center-col">
          <strong>{{organization.name}}</strong><br />
          {{application.name}} - {{ application.version }}
        </td>
        <td class="right-col">
          Generated: {{ report.date }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Functional Requirements</strong>:
          {{ #features }}
            {{ #scenario_tags }}
              {{ . }},
            {{ /scenario_tags }}
            {{ #scenario_tags }}
              {{ . }},
            {{ /scenario_tags }}
          {{ /features }}
        </td>
        <td>
          Specio Version: {{ specio.version }}
        </td>
      </tr>
    </tbody>
  </table>
</header>
