<tr>
  <td>
  </td>
  <td>
    <dl>
      {{ #given_when }}
      <dt>{{ keyword }}</dt>
      <dd>{{ name }}{{ #result.error_message }}&nbsp;<sub>[{{ line }}]</sub>{{ /result.error_message }}
      </dd>
      {{ /given_when }}
    </dl>
  </td>
    <td>
      <ul>
          {{ #then }}
            <li class="{{ result.status }}"><strong>{{ keyword }}</strong> {{ name }}{{ #result.error_message }}<sub>[{{ line }}]</sub>{{ /result.error_message }}{{ #stored_value }}<sub>[{{ line }}]</sub>{{ /stored_value }}{{ #attachments }}<sub>[{{ line }}]</sub>{{ /attachments }}
            </li>
          {{ /then }}
      </ul>
  </td>
  <td>
  </td>
  <td>
    {{ #given_when }}
      {{ #result.error_message }}
          <strong> Error [{{ line }}]</strong>: <pre class="step-error-message" id="danger">{{ result.error_message }}</pre>
      {{ /result.error_message }}
    {{ /given_when }}
    {{ #then }}
      <dl>
      {{ #attachments }}
        <dt>Figure [{{ line }}]</dt>
      {{ /attachments }}
      {{ #stored_value }}
      <dt>Value [{{ line }}]</dt>
      <dd>
         {{ stored_value }}
      </dd>
      {{ /stored_value }}
      {{ #result.error_message }}
        <dt>Error [{{ line }}]
        </dt>
        <dd>
           <pre class="step-error-message">{{ result.error_message }}</pre>
        </dd>
      {{ /result.error_message }}
      </dl>
    {{ /then }}
  </td>
</tr>
{{ #then }}
  {{ #attachments }}
    <tr>
      <td>
      </td>
      <td colspan="4">
        <figcaption><strong>Reference ID: [{{ line }}]</figcaption></strong>
        <figure>
        <img class="screencapture" src="data:{{ media.type }};base64, {{data}}" />
      </figure>
      </td>
    </tr>
  {{ /attachments }}
{{ /then }}
