<!DOCTYPE html>
<html>
  <head>
    <title>Cucumber Feature Report</title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/simple.css" />
    <link rel="stylesheet" type="text/css" href="./assets/styles/bootstrap.css" />
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      {{ #features }}
      {{> feature }}
      {{ /features }}
    </div>
  </body>
</html>
