.grid-container {
  column-count: 2;
  font-size: 11pt;
  margin: 0.075in;
}
.grid-item {
  display: block;
  margin: 0.075in;
}

.clearfix::after {
    clear: both;
    display: table;
    margin: 0.125in;
}
dl, dd {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
dt {
  font-weight: bold;
}

dd {
  margin-left: 0.25in;
}


dt::after {
   content: ":";
 }

.result {
  font-weight: bold;
  font-style: italic;
  font-size: 12pt;
  display: inline;
  padding-left: 2em;
}
