
@page {
  @bottom-left {
    content: "Specio Automated Verification System";
    background-image: url('../images/logo.gif');
    background-size: auto 0.4in;
    background-position: top left;
    background-repeat: no-repeat;
    width: 2in;
    height: 0.5in;
    margin: 0pt 0 30pt 0;
    line-height: 9pt;
    vertical-align: bottom;
    font-size: 9pt;
    color: #333;
    font-style: italic;
  }
  @bottom-center {
    margin: 10pt 0 30pt 0;
    font-size: 9pt;
    color: #333;
    font-style: italic;
    content: "Initials: _______________ Date:________________"
  }
  @bottom-right {
    margin: 10pt 0 30pt 0;
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10pt;
    color: #333;
  }
}
